* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0 15rem;
    background-color: rgb(240, 219, 102);
    font-family: 'Caveat', cursive;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 2rem;
    text-transform: uppercase;
}

#txt-input, #output {
    display: block;
    padding: 1rem;
    width: calc(100vw - 30rem);
    height: 20vh;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 0.3rem;
}

button {
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    border-radius: 0.3rem;
    border: 1px solid black;
    background-color: rgb(51, 51, 51);
    color: white;
    outline: none;
    cursor: pointer;
}

#output {
    margin: 1rem 0;
    background-color: white;
}